

.card-container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width:100%;

  
    
}

.card {
    max-width:16vw;
    margin:auto;
    margin-top:5vh;
    box-shadow: 2.5px 1.5px 5px 2px rgba(42, 42, 42, 0.46);
}


/* PAGINATION STYLING */

.paginationButtons {
    display:flex;
    flex-direction: row;
    justify-content: center;
    list-style:none;
    margin-top:10vh;
    width:100%;
}
.paginationButtons a{
    padding:10px;
    margin: 8px;
    border-radius: 8px;
    background-color: white;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
    border:0px solid black;
}


.paginationButtons a:hover {

    background-color: #b3b3b3;
}

.paginationActive a{

    color:white;
    background-color:#004cff;
}