.prevPage {
    display:flex;
    justify-content: flex-start;
    height:10vh;
    margin-top:25vh;
}

.nextPage {
    height:10vh;
    margin-top:25vh;
}

.card-container{
    position:relative;
}

.pageCount {
    position:absolute;
    bottom:-18vh;
    left:50%;
    transform:translateX(-50%);
}